.container {
  margin: 50px auto;
}
.title {
  margin: 30px auto;
  text-align: center;
}
.items {
  width: 30%;
  min-width: 260px;
  padding: 0;
  margin: 0 auto;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.item {
  position: relative;
}
.delete {
  position: absolute;
  top: 14px;
  right: 0;
  cursor: pointer;
  /* z-index: -1; */
  display: none;
}
.item:hover .delete {
  /* z-index: 1; */
  display: block;
}
.emptyList {
  margin: 50px auto;
}
.link {
  display: flex;
  justify-content: center;
}
